.contact form button, .portfolio .portfolio__button, .about .about__description .about__hiring-btn {
  background: linear-gradient(75.7deg, rgb(34, 126, 34) 3.8%, rgb(99, 162, 17) 87.1%);
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.2s;
}
.contact form button:before, .portfolio .portfolio__button:before, .about .about__description .about__hiring-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: radial-gradient(circle at 10% 20%, rgb(85, 149, 27) 0.1%, rgb(183, 219, 87) 90%);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.contact form button:hover, .portfolio .portfolio__button:hover, .about .about__description .about__hiring-btn:hover {
  color: #ffffff;
}
.contact form button:hover:before, .portfolio .portfolio__button:hover:before, .about .about__description .about__hiring-btn:hover:before {
  transform: scaleX(1);
}
.contact form button:active, .portfolio .portfolio__button:active, .about .about__description .about__hiring-btn:active {
  transform: scale(0.95);
}

.education .education__accordion-title {
  background: linear-gradient(75.7deg, rgb(34, 126, 34) 3.8%, rgb(99, 162, 17) 87.1%);
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  transition-property: color;
  transition-duration: 0.3s;
}
.education .education__accordion-title:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at 10% 20%, rgb(85, 149, 27) 0.1%, rgb(183, 219, 87) 90%);
  border-radius: 100%;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.education .education__accordion-title:hover {
  color: #ffffff;
}
.education .education__accordion-title:hover:before {
  transform: scale(2);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: #1b2028;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #000000;
}
@media (max-width: 768px) {
  .header .my-logo-text {
    font-size: 18px !important;
  }
}
@media (max-width: 400px) {
  .header .my-logo-image {
    width: 40px;
    height: 40px;
  }
  .header .my-logo-text {
    font-size: 16px !important;
  }
}
.header ul li:hover a {
  color: #73bc29 !important;
}
.header i {
  color: #73bc29;
}

.hero-wrapper {
  height: 100vh;
  background: url("../images/hero-background.jpg") 0 0/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-wrapper .hero-wrapper__text-block p {
  letter-spacing: 2px;
  line-height: 1.2;
}
@media (max-width: 992px) {
  .hero-wrapper .hero-wrapper__text-block p {
    font-size: 20px !important;
  }
}
@media (max-width: 576px) {
  .hero-wrapper .hero-wrapper__text-block p {
    font-size: 14px !important;
  }
}
.hero-wrapper .hero-wrapper__text-block h1 {
  font-size: 70px;
  letter-spacing: 5px;
  line-height: 1.5;
}
@media (max-width: 992px) {
  .hero-wrapper .hero-wrapper__text-block h1 {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .hero-wrapper .hero-wrapper__text-block h1 {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .hero-wrapper .hero-wrapper__text-block h1 {
    font-size: 22px;
    letter-spacing: 2px;
  }
}

@media (max-width: 576px) {
  .about .about__photo {
    margin-bottom: 40px;
  }
}
.about .about__description p {
  line-height: 1.5;
}
@media (max-width: 1200px) {
  .about .about__description p {
    font-size: 18px !important;
  }
}
@media (max-width: 768px) {
  .about .about__description p {
    font-size: 16px !important;
  }
}
.about .about__description .about__social-list li {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background-color: rgba(60, 60, 60, 0.5);
}
.about .about__description .about__social-list li:last-child {
  margin-right: 0;
}
.about .about__description .about__social-list li i {
  color: #ffffff;
  transition: 0.2s;
}
.about .about__description .about__social-list li:hover {
  cursor: pointer;
}
.about .about__description .about__social-list li:hover i {
  color: #73bc29 !important;
  transform: scale(1.05);
}
@media (max-width: 576psx) {
  .about .about__description .about__social-list li {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 992px) {
  .portfolio .portfolio__col-photo {
    order: 0 !important;
  }
}
@media (max-width: 576px) {
  .portfolio .portfolio__desccription {
    font-size: 18px !important;
  }
}
.service .service__subtitle,
.service h2 {
  letter-spacing: 3px;
}
.service .service__card:hover .service__icon {
  text-shadow: 0px 0px 10px #73bc29;
}
.service .service__card .service__icon {
  transition: 0.2s;
  color: #73bc29 !important;
}

.benefits h2 {
  letter-spacing: 3px;
}

.education h2 {
  letter-spacing: 3px;
}
.contact h2,
.contact h3 {
  letter-spacing: 3px;
}
.contact a {
  transition: 0.1s;
}
.contact a:hover {
  color: #ffffff !important;
}

.footer li {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background-color: rgba(60, 60, 60, 0.5);
}
.footer li:last-child {
  margin-right: 0;
}
.footer li i {
  color: #ffffff;
  transition: 0.2s;
}
.footer li:hover {
  cursor: pointer;
}
.footer li:hover i {
  color: #73bc29 !important;
  transform: scale(1.05);
}
@media (max-width: 576px) {
  .footer li {
    width: 40px;
    height: 40px;
  }
}
.footer .footer__copyright-creator {
  transition: 0.2s;
}
.footer .footer__copyright-creator:hover {
  color: #73bc29 !important;
}

.scrollup-icon {
  color: #73bc29;
  transition: 0.5s;
}
.scrollup-icon:hover {
  color: #a9ff54;
}

.ajs-message {
  border-radius: 5px;
  border: 1px solid #fff;
}
.ajs-message.ajs-success {
  color: #032a0c;
  border-color: #73bc29;
  background: linear-gradient(75.7deg, rgb(34, 126, 34) 3.8%, rgb(99, 162, 17) 87.1%) !important;
}