body {
  background-color: #1b2028;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7) !important;
}
@media (max-width: 768px) {
  .header .my-logo-text {
    font-size: 18px !important;
  }
}
@media (max-width: 400px) {
  .header .my-logo-image {
    width: 40px;
    height: 40px;
  }
  .header .my-logo-text {
    font-size: 16px !important;
  }
}

.hero-wrapper {
  height: 100vh;
  background: url("../images/hero-background.jpg") 0 0/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-wrapper .hero-wrapper__text-block p {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 2px;
  line-height: 1.2;
}
@media (max-width: 992px) {
  .hero-wrapper .hero-wrapper__text-block p {
    font-size: 20px !important;
  }
}
@media (max-width: 576px) {
  .hero-wrapper .hero-wrapper__text-block p {
    font-size: 14px !important;
  }
}
.hero-wrapper .hero-wrapper__text-block h1 {
  font-size: 70px;
  letter-spacing: 5px;
  line-height: 1.5;
}
@media (max-width: 992px) {
  .hero-wrapper .hero-wrapper__text-block h1 {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .hero-wrapper .hero-wrapper__text-block h1 {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .hero-wrapper .hero-wrapper__text-block h1 {
    font-size: 22px;
    letter-spacing: 2px;
  }
}

.about .about__photo {
  width: 100%;
}
@media (max-width: 576px) {
  .about .about__photo {
    margin-bottom: 40px;
  }
}
.about .about__description p {
  line-height: 1.5;
}
@media (max-width: 1200px) {
  .about .about__description p {
    font-size: 18px !important;
  }
}
@media (max-width: 768px) {
  .about .about__description p {
    font-size: 16px !important;
  }
}
.about .about__description .about__social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.about .about__description .about__social-list li {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background-color: rgba(60, 60, 60, 0.5);
}
.about .about__description .about__social-list li:last-child {
  margin-right: 0;
}
.about .about__description .about__social-list li i {
  color: #fff;
  transition: 0.2s;
}
.about .about__description .about__social-list li:hover {
  cursor: pointer;
}
.about .about__description .about__social-list li:hover i {
  color: #73bc29 !important;
  transform: scale(1.05);
}
@media (max-width: 576px) {
  .about .about__description .about__social-list li {
    width: 40px;
    height: 40px;
  }
}
.about .about__description button {
  background: linear-gradient(75.7deg, rgb(34, 126, 34) 3.8%, rgb(99, 162, 17) 87.1%);
  box-shadow: inset 0 0 0 0 #72b232;
  transition: 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}
.about .about__description button:hover {
  box-shadow: inset 200px 0 0 0 rgba(113, 195, 46, 0.5);
  transform: scale(1.05);
}
.about .about__description button:active {
  transform: scale(0.95);
}

.benefits h2 {
  letter-spacing: 3px;
}